.theme_box{
  position: absolute;
  left: 13vw;
  top: 2vh;
}

#theme_button{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: url("theme.png") no-repeat center left;
  background-size: 18px 18px;
}
