html{
  background-color: #84a98c;
}

*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #cad2c5;
  min-height: 7vh;
  background-color: #2f3e46;
  color: #fff;
}

#git_logo{
  border: solid 3px #cad2c5;
  border-radius: 25px;
}
